html, body{
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.1em;
    overflow: hidden;
    scroll-behavior: none;
  }

  footer{
    position: fixed;
    right: 0;
    text-align: right;
    bottom: 0; /* stick to bottom */
    margin: 0px;
    font-size: 6px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.1em;
    margin: 0.5%;
  
  }
  
  .gohome{
    display: flex;
    flex-direction: row;
    bottom: 3vh;
    left: 3vw;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 5vw;
    height: 5vw;
  }

  .gohome img{
    position: absolute;
  }

.gohome .home{
  z-index: 10;
  transform: translate(0vw, -2vh);
}

.gohome .cloud{
  z-index: 1;
}

.hide {
  display:none;
}


  img{
    height: 100%;
    width: auto;
  }
.parent { 
    display: flex; 
    flex-direction: row; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 

.child1 { 
  margin: auto;
  padding: 5%;
  line-break: 10px;
  width: 40vw; 
  height: 50vh; 
  text-align: center; 
  color: black; 
} 

.child2 { 
  margin: auto;
    width: 40vw; 
    height: 50vh; 
    padding: 5%;
    justify-self: center;
    
} 


@media only screen and (max-width: 1000px){
  .parent { 
    position: fixed;
    display: flex; 
    flex-direction: column; 
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    bottom: 0;
    gap: 10vh;
} 

.child1 { 
  line-break: 10px;
  height: 30vh; 
  width: 90vw;
  text-align: center; 
  color: black; 
  margin: auto;
  padding: 0;
  
} 

.child2 { 
    height: 40vh; 
    width: 90vw;
    justify-self: center;
    font-size: 8px;
    margin: auto;
    padding: 0;
  
} 

.child1 img{
  width: 100%;
  height: auto;
  text-align: center;
}



.gohome{
  display: flex;
  flex-direction: row;
  top: 3vh;
  left: 3vw;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 15vw;
  height: 15vw;
}

.gohome img{
  position: absolute;
}

.gohome .home{
z-index: 10;
transform: translate(0vw, -2vh);
}

.gohome .cloud{
z-index: 1;
}
  }
  

.contacts{
  display: flex;
  gap: 10px;
}

.contacts a{
  color: black;
}

.contacts a:hover{
  color: blue;
}
.contacts p{
  margin: 0;
}