
body{
  margin:0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.1em;
  overflow: hidden;
  scroll-behavior: none;
}

.navArea{
  position: relative;
}
.img-overlay{
  position: absolute;
  z-index: -1;
  height: 70vh;
  width: 70vw;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;

}

img{
  width: 40vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.j1{
  position: absolute;
  top: 52vh;
  left: 55vw;
  color: transparent;
  width: 80px;
  height: 80px;
  z-index: 50;
}

.j1:hover{

  background-size: cover;
  overflow: show;
}

.j1 + .read{
  position: absolute;
  top: 0;
  left: 50vw;
  width: 100%;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
}

.j1:hover + .read{
  opacity: 1;
  visibility: visible;

}

.j2{
  position: absolute;
  top: 32vh;
  left: 45vw;
  height: 80px;
  width: 57px;
  color: transparent;
  z-index: 50;
}

.j2:hover{

  background-size: cover;
  overflow: show;
}

.j2 + .shop{
  position: absolute;
  top: 0;
  left: 50vw;
  width: 100%;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
}

.j2:hover + .shop{
  opacity: 1;
  visibility: visible;

}

.j3{
  position: absolute;
  top: 52vh;
  left: 41vw;
  height: 100px;
  width: 57px;
  color: transparent;
  z-index: 50;
}

.j3:hover{

  background-size: cover;
  overflow: show;
}

.j3 + .donate{
  position: absolute;
  top: 0;
  left: 50vw;
  width: 100%;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
}

.j3:hover + .donate{
  opacity: 1;
  visibility: visible;


}

.call{
  position: absolute;
  top: 32vh;
  left: 45vw;
  height: 80px;
  width: 80px;
  z-index:100;
}

.flcc{
  position: absolute;
  top: 12vh;
  left: 45vw;
  height: 80px;
  width: 400px;
  z-index:100;
}

.comingbox{
  display: flex;
  justify-content: center;
  align-items: center;
}


.coming{
  margin: 0;
  text-align: center;
}



.read, .shop, .donate{
  opacity: 20%;
  position: absolute;
  z-index: -20;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-stretch: ultra-condensed;
  text-align: center; 
  color: rgba(225, 225, 225, 0.097);
  font-size: 700px; 
  transform: translate(-50%,-100%);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 80vh; 
  background: linear-gradient(24deg, rgb(0, 0, 0), rgb(0, 0, 0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}

.shop{
  background-image: url(home/salima.JPG);
}

.donate{
  background-image: url(home/rob.jpg);
}
.read{
  background-image: url(home/HEARTPOZO.jpeg);
}