
@font-face {
  font-family: 'BILLY';
  src: url('font/ORGANICAL\ PERSONAL\ USE.ttf');
}

html, body{
  margin:0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.1em;
  overflow: hidden;
  scroll-behavior: none;
}

.navArea{
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}



#slider{
  width: 40%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.j2{
  position: absolute;
  left: 45vw;
  top: 30vh;
  height: 80px;
  width: 57px;
  color: transparent;
  z-index: 50;
}

.j2:hover{

  background-size: cover;
  overflow: show;
}

.j2 + .shop{
  position: absolute;
  width: 100vw;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
  height: 100vh;
  top: 20vh;
}

.j2:hover + .shop{
  opacity: 1;
  visibility: visible;

}

.j3{
  position: absolute;
  top: 52vh;
  left: 41vw;
  height: 100px;
  width: 57px;
  color: transparent;
  z-index: 50;
}

.j3:hover{
  background-size: cover;
  overflow: show;
}

.j3 + .donate{
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
  top: 20vh;
}

.j3:hover + .donate{
  opacity: 1;
  visibility: visible;


}

.call{
  position: absolute;
  top: 32vh;
  left: 45vw;
  height: 80px;
  width: 80px;
  z-index:100;
}

.flcc{
  position: absolute;
  top: 12vh;
  left: 45vw;
  height: 80px;
  width: 400px;
  z-index:100;
}

.comingbox{
  display: flex;
  justify-content: center;
  align-items: center;
}


.coming{
  margin: 0;
  text-align: center;
}



.j1{
  position: absolute;
  top: 52vh;
  left: 55vw;
  color: transparent;
  width: 80px;
  height: 80px;
  z-index: 50;
}

.j1:hover{
  background-size: cover;
  overflow: show;
}

.info{
  display: none;

}

.read{
  display: none;
}

.support{
  display: none;
}

.infohover:hover  .info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50vw;
  transform: translate(25vw);
  pointer-events: none;
  height: 100vh;
  justify-self: center;
  text-align: center;
  position: absolute;
  z-index: -10;
  gap: 2%;

}

.readhover:hover  .read{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50vw;
  transform: translate(25vw);
  pointer-events: none;
  height: 100vh;
  justify-self: center;
  text-align: center;
  position: absolute;
  z-index: -10;
  gap: 5%;


}

.supporthover:hover  .support{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50vw;
  transform: translate(25vw);
  pointer-events: none;
  height: 100vh;
  justify-self: center;
  text-align: center;
  position: absolute;
  z-index: -10;
  gap: 5%;


}

.read.gif{
  width: 400px;
}

.info.gif{
  width: 500px;
}



.shop, .donate{
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 20;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; 
  font-size: 600px; 
  justify-content: center; 
  align-items: center; 
  color: pink;
  line-height: 80%;
    margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(0, -500px);
  height: 100vh;



}
