
body{
  margin:0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  font-family: jap;
  letter-spacing: 0.1em;
  overflow: hidden;
  scroll-behavior: none;
}

.navArea{
  position: absolute;
  z-index: 10;
}
.img-overlay{
  position: absolute;
  z-index: 0;
  height: 70vh;
  width: 70vw;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;

}

img{
  width: 40vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.j1{
  position: absolute;
  top: 52vh;
  left: 55vw;
  color: transparent;
  width: 80px;
  height: 80px;
  z-index: 50;
}

.j1:hover{
  background-image: url(home/read.gif);
  background-size: cover;
  overflow: show;
}

.j2{
  position: absolute;
  top: 32vh;
  left: 45vw;
  height: 80px;
  width: 57px;
  color: transparent;
  z-index: 50;
}

.j2:hover{
  background-image: url(home/shop.gif);
  background-size: cover;
  overflow: show;
}


.j3{
  position: absolute;
  top: 52vh;
  left: 41vw;
  height: 100px;
  width: 57px;
  color: transparent;
  z-index: 50;
}

.j3:hover{
  background-image: url(home/change.gif);
  background-size: cover;
  overflow: show;
}

.call{
  position: absolute;
  top: 32vh;
  left: 45vw;
  height: 80px;
  width: 80px;
  z-index:100;
}

.flcc{
  position: absolute;
  top: 12vh;
  left: 45vw;
  height: 80px;
  width: 400px;
  z-index:100;
}

