

html, body{
    margin:0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: jap;
    letter-spacing: 0.1em;
    overflow: hidden;
    scroll-behavior: none;
  }

  .donate{
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 3;
    left: 80vw;
    top: 100vh;
    font-size: 10px;
    width: 5vw;
    height: 3vh;

  }

  .donate a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    top: 100vh;
  }


  .donate::after body{
    background-image: url(home/salima2.JPG);
    background-size:  contain;
    background-position: center;
  }
  .outercontainer{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }



  
  
  .left{
    
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow:hidden; 
  white-space: nowrap;
  animation: scrollUp 20s linear infinite;

  }


  .left img{
    width: 10vw;
    height: auto;
    padding: 0;
  
  }
  
  @keyframes scrollUp {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0%);
    }
  }


  .right{
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow:hidden; 
  white-space: nowrap;
  animation: scrollDown 20s linear infinite;
  text-align: right;

  }

  @keyframes scrollDown {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-50%);
    }
  }
  
  .right img{
    width: 10vw;
    height: auto;
    padding: 0;
  
  }

  

  .midtop {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: center;
    position: absolute;
  overflow:hidden;
  overflow-y: hidden;
  white-space:nowrap;
  animation: scroll 30s linear infinite;
  }


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .midbottom img{
    height: 7vh;
    padding: 0;
  }

  .midtop img{
    height: 7vh;
    padding: 0;
  }
  .midbottom {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: center;
    position: absolute;
  overflow:hidden;
  overflow-y: hidden;
  white-space:nowrap;
    animation: rightscroll 20s linear infinite;
  }


  @keyframes rightscroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }

  
  .typewrite{
    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: block;
    font-style: normal;
    margin: 0;
    text-decoration: none;
    letter-spacing: 3px;
    color: rgb(247, 255, 205);
    padding-top: 5vh;
    padding-left: 5vw;
  }
  .typewrite:after {
    content: '_';
    -webkit-animation: blink 400ms linear infinite alternate;
    animation: blink 400ms linear infinite alternate;
  }
  
  .shop{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    z-index: -10;
    top: 100px;
    bottom: 100px;
    left: 200px;
    right: 200px;
    color: white;
    margin: auto;
  }

  p{
    margin: 0;
    color: rgba(255, 255, 255, 0.458);
  }

  .backapril{
    text-align: right;
  }

  .donate{
    top: 38vh;
    left: 60vw;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 5vw;
    height: 5vw;
    background-image: url(back/hatu2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img{
    height: 100%;
    text-align: center;
    align-self: center;
    margin: auto;
  }


  .gohome{
    display: flex;
    flex-direction: row;
    bottom: 10vh;
    left: 15vw;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 5vw;
    height: 5vw;
  }

  .gohome img{
    position: absolute;
  }

.gohome .home{
  z-index: 10;
  transform: translate(0vw, -2vh);
}

.gohome .cloud{
  z-index: 1;
}


@media only screen and (min-width: 1000px){
  img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

    .bgsalima{
      display: none;
    }
}




@media only screen and (max-width: 1000px){
 
.gohome{
  display: flex;
  flex-direction: row;
  top: 10vh;
  left: 15vw;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 15vw;
  height: 15vw;
}

.gohome img{
  position: absolute;
}

.gohome .home{
z-index: 10;
transform: translate(0vw, -2vh);
}

.gohome .cloud{
z-index: 1;
}

.donate{
  top: 30vh;
  left: 50vw;
  margin: auto;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 15vw;
  height: 15vw;
  background-image: url(back/hatu2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img.bg {
  height: 100vh;
  top: 0;
  right: 0;
}

.backapril{
  top: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
 
}

.bg{
  display: none;
}
  }
  
